node_modules/
npm-debug.log
.DS_Store
/*.env
.env.local
.gitignore


.DS_Store
.AppleDouble
.LSOverride
.localized

# Thumbnails
._*

# Files ex
.Spotlight-V100
.Trashes

# Directories
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk