.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
    
}

.grid div {
    width: 20px;
    height: 20px;
}

.dots {
    background-color: black;
    border: 5px solid greenyellow;
    border-radius: 10px;
    border-block-color: greenyellow;
    box-sizing: border-box;

    /* background-color: green;   
    border: 5px solid white;
    box-sizing: border-box; */
}

.wall {
    background-color:black;
}

.powerpill {
    background-color: black;
    border-radius: 10px;
}

.pill-consumer {
    background-color: cornflowerblue;

    border-radius: 10px;
}