/* @font-face {
    font-family: "Custom";
    src: local("/open_24_display_st/Open 24 Display St.ttf");
} */

html * {
    font-size: 6rem;
    color: #00fa9a;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.wraith-house {
    background-color: darkgray;
}

.dots {
    background-color: black;
    border: 5px solid greenyellow;
    border-radius: 10px;
    border-block-color: greenyellow;
    box-sizing: border-box;
}

.wall {
    background-color:black;
}

.power-pill {
    background-color: black;
    border-radius: 10px;
}

.pete {
    background-color: olivedrab;
    border: 0px;
}

.josh {
    background-color: green;
    border: 0px;
}

.kenny {
    background-color:forestgreen;
    border: 0px;
}

.johnny {
    background-color: lawngreen;
    border: 0px;
}

.freaked-wraith {
    background-color:mediumvioletred;
    border: 0px;
}


.pill-consumer {
    background-color: cornflowerblue;
    border-radius: 10px;
}

