.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.dots {
    background-color: black;
    border: 5px solid greenyellow;
    border-radius: 10px;
    border-block-color: greenyellow;
    box-sizing: border-box;
}

.wall {
    background-color:black;
}

.power-pill {
    background-color: black;
    border-radius: 10px;
}

.pete {
    background-color: olivedrab;
    border-radius: 0px;
}

.josh {
    background-color: green;
    border-radius: 0px;
}

.kenny {
    background-color:forestgreen;
    border-radius: 0px;
}

.johnny {
    background-color: lawngreen;
    border-radius: 0px;
}

.freaked-wraith {
    background-color:mediumvioletred;
    border: 0px;
}


.pill-consumer {
    background-color: cornflowerblue;

    border-radius: 10px;
}

